<div *ngIf="info.token; else loggedOut">
</div>


<div style="margin-top: 30px; margin-bottom: 100px;" *ngFor="let post of postsArray">
  <div style="padding: 10px; border: 1px solid black;">
    <div class="title"><b>{{post.title}}</b></div>
    <div class="comment">{{post.content}}</div>
    <br>
    <div class="author">{{post.user.username}}</div>
    <div class="date">{{post.createDate | date:'yyyy-MM-dd'}}</div>
    <div class="date">{{post.createDate | date:'HH:mm'}}</div>
    <div class="comment">
      <b>KOMENTARZE</b><br>
    </div>
    <div *ngFor="let comment of post['comments']">
        <div class="comment">{{comment.body}}</div>
        <div class="comment">DODANO PRZEZ: {{comment.user.username}}</div>
        <div class="comment">Dodano: {{comment.createDate | date: 'yyyy-MM-dd HH:mm'}}</div><br>
    </div>
  </div>
</div>
 
<ng-template #loggedOut>
  <div class="center"><b>Welcome on my test application. To see content log in or register an account.</b></div>
</ng-template>