<div *ngIf="info.token; else loggedOut">
  <!-- <h5 class="text-primary">To do</h5>
  <p>
  wpisy na bloga, komentarze, like, dodawanie wpisow
  </p> -->
</div>


<div style="margin-top: 30px;" *ngFor="let post of postsArray">
  <div style="padding: 10px; border: 1px solid black;">
    <div class="title"><b>{{post.title}}</b></div>
    <div class="content">{{post.content}}</div>
    <div class="date">{{post.createDate | date:'yyyy-MM-dd'}}</div>
    <div class="date">{{post.createDate | date:'HH:mm'}}</div>
  </div>
</div>
 
<ng-template #loggedOut>
  <div class="center"><b>Welcome on my test application. To see content log in or register an account.</b></div>
</ng-template>